/* Estilos Generales */

:root {
    --color-principal: #ff460e;
    --color-suave: #ff5722;
    --color-secundario: #ff2222;
    --color-blanco: white;
    --color-gris-claro: #f8f9fa;
    --color-oscuro: #2c3e50;
    --color-gris-suave: #7f8c8d;
    --color-sombra: rgba(0, 0, 0, 0.1);
    --color-sombra-intensa: rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Etna';
    src: url('../webfonts/Etna.woff2') format('woff2'),
    url('../webfonts/Etna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Etna', serif;
}

h2 {
    font-size: 2rem;
    color: var(--color-oscuro);
    font-weight: 600;
}

main {
    margin: 0 auto;
    text-align: center;
}

p.lead {
    font-size: 1.125rem;
    color: var(--color-gris-suave);
    line-height: 1.6;
}

ul {
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--color-oscuro);
}

ul li {
    margin-bottom: 15px;
    text-align: left;
    margin-left: 3em;
}

ul li strong {
    color: var(--color-principal);
    letter-spacing: 1px;
    font-weight: 600;
}

.destacado {
    color: #ff440c;
    /* Color de énfasis */
    font-weight: bold;
    background-color: #ffc374;
    /* Color de fondo suave */
    padding: 1px 3px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cabecera */


header {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px var(--color-sombra);
    border-bottom: 3px solid var(--color-secundario);
}

header .logo:hover img {
    transform: rotate(5deg);
}

/* Otros estilos para la imagen */
header img {
    max-height: 90px;
    width: auto;
    margin: 0;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

/* Efectos al pasar el cursor por el contenedor */
header .logo:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px var(--color-sombra-intensa);
    filter: brightness(1.1);
}

.logo {
    background-color: var(--color-blanco);
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--color-sombra);
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    padding: 0.3em;
}

.texto_logo {
    font-family: 'Etna', serif;
    color: var(--color-principal);
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: var(--color-blanco);
    border: var(--color-blanco) 2px solid;
    margin: 0 1.5em;
    padding: 1em 2em;
    border-radius: 2.5em;
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.0625em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

nav a:hover {
    background-color: var(--color-blanco);
    color: var(--color-suave);
    transform: translateY(-0.375em);
    box-shadow: 0 0.375em 0.75em var(--color-sombra-intensa);
}

nav a i {
    margin-left: 1em;
    transition: transform 0.3s, margin-left 0.3s;
}

nav a:hover i {
    transform: rotate(15deg);
    margin-left: 1.5em;
}

nav a.active {
    background-color: var(--color-blanco);
    color: var(--color-suave);
    box-shadow: inset 0 0 0.375em var(--color-sombra-intensa);
    transform: none;
}

/* Titulos */

.title {
    color: var(--color-principal);
    font-size: 5em;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;

    letter-spacing: 2px;

    background: linear-gradient(45deg, var(--color-principal), #ff6f61);

    -webkit-background-clip: text;
    background-clip: text;
    transition: color 0.5s ease, transform 0.5s ease, text-shadow 0.3s ease;
}

.title:hover {
    transform: scale(1.1) rotate(-2deg);

    color: var(--color-principal);

    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);

}

/* Inicio */


.equipo {
    background-color: var(--color-principal);
    border-radius: 1em;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.equipo:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.imagen_equipo {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
}


.equipo:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.tarjeta {
    border: none;
    border-radius: 1.2em;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body-1 {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: .5rem;
    border-radius: 1.2em 1.2em 0 0;
}

.card-body-1 i {
    font-size: 2rem;
    color: var(--color-blanco);
    margin-bottom: .2rem;
}

.card-body-1 h2 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-blanco);
}

.card-body-2 {
    background-color: var(--color-gris-claro);
    padding: 1.5rem;
    color: #495057;
}

.card-body-2 p {
    font-size: 1rem;
    line-height: 1.6;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--color-sombra);
}

/* Investigacion */

.section-container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--color-secundario);
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.section-container:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.section-container h2 {
    color: var(--color-principal);
    transition: color 0.3s ease;
}

.section-container:hover h2 {
    color: var(--color-secundario);
    /* Cambia a un color diferente al pasar el mouse */
}

.section-1 {
    background-color: #f8f9fa;
    /* Color de fondo claro */
}

.section-2 {
    background-color: #e9ecef;
    /* Color de fondo diferente */
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-content img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.section-content img:hover {
    transform: scale(1.05);
}


.section-container.slide-in-left {
    transform: translateX(-100%);
}

.section-container.slide-in-right {
    transform: translateX(100%);
}

.section-container.slide-in {
    opacity: 1;
    transform: translateX(0);
}

.text-container {
    padding: 20px;
}

/* Productos */

.category-section {
    max-width: 80%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.category-section h2 {
    color: var(--color-principal);
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.product-image {
    max-width: 200px;
    width: 100%;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    flex: 1;
}

.product-info h3 {
    color: var(--color-principal);
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #28a745;
    margin-top: 10px;
}

/* Contacto */

.contact-section {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.contact-section h2 {
    margin-bottom: 15px;
    color: var(--color-principal);
}

.contact-info {
    margin-bottom: 20px;
}

.contact-details {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.contact-map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 100%;
}

.contact-map iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 15px;
    border: 2px solid var(--color-principal);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-map iframe:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.contact-form {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    color: var(--color-principal);
}

.form-group label {
    font-weight: bold;
}

.form-check-label {
    margin-left: 5px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
}

/* Iniciar sesion */

.login-container {
    max-width: 40em;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: var(--color-blanco);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.login-header {
    color: var(--color-principal);
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: bold;
    color: #2c3e50;
}

.form-group .form-control {
    padding-left: 2.5rem;
}

.form-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--color-suave);
}

.form-control {
    padding: 1em;
}

.form-control:focus {
    border-color: var(--color-principal);
    box-shadow: 0 0 0 0.2rem rgba(255, 87, 34, 0.25);
}

.btn-login {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    font-weight: bold;
    width: 100%;
    padding: 0.75rem;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: var(--color-suave);
}

/* Formulario para actualizar post*/

.form-container {
    background-color: var(--color-blanco);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--color-sombra);
    max-width: 600px;
    margin: 50px auto;
}

.form-container h2 {
    color: var(--color-principal);
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
    color: var(--color-oscuro);
}

.form-container input[type="text"],
.form-container textarea,
.form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    border: 1px solid var(--color-gris-suave);
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: var(--color-suave);
}

.form-container .image-preview {
    margin-bottom: 20px;
}

.form-container .image-preview img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--color-sombra-intensa);
}

.form-container .form-group {
    margin-bottom: 20px;
}

/* Moviles y pantallas pequeñas */

@media screen and (max-width: 768px) {
    section {
        padding: 10px;
    }

    .equipo {
        padding: 20px;
    }

    .section-container {
        max-width: 90%;
    }

    .category-section {
        max-width: 95%;

    }

    .product-card {
        flex-direction: column;
        /* Vuelve a fila en pantallas grandes */
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 3em;
    }

    nav a {
        margin: 0 0.75em;
        padding: 0.5em 1em;
        border-radius: 1.25em;
        font-size: 1rem;
        letter-spacing: 0.03125em;
    }

    .contact-form {
        max-width: 95%;
        padding: 15px;
    }

    .contact-section {
        max-width: 95%;
    }
}


@media (min-width: 768px) {
    .contact-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .contact-info,
    .contact-map {
        flex: 1;
    }

    .contact-map iframe {
        height: 400px;
    }
}






