:root {
    --color-principal: #ff460e;
    --color-suave: #ff5722;
    --color-secundario: #ff2222;
    --color-blanco: white;
    --color-gris-claro: #f8f9fa;
    --color-oscuro: #2c3e50;
    --color-gris-suave: #7f8c8d;
    --color-sombra: rgba(0, 0, 0, 0.1);
    --color-sombra-intensa: rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Etna';
    src: url('../webfonts/Etna.woff2') format('woff2'),
         url('../webfonts/Etna.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Etna';
}

header {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px var(--color-sombra);
    border-bottom: 3px solid var(--color-secundario);
}

header img {
    max-height: 90px;
    width: auto;
    margin: 0;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

header .logo:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px var(--color-sombra-intensa);
    filter: brightness(1.1);
}

header .logo img:hover {
    transform: rotate(5deg);
}

.logo {
    background-color: var(--color-blanco);
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--color-sombra);
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
    padding: 0.3em;
}

.texto_logo {
    font-family: 'Etna';
    color: var(--color-principal);
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: var(--color-blanco);
    border: var(--color-blanco) 2px solid;
    margin: 0 1.5em;
    padding: 1em 2em;
    border-radius: 2.5em;
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    letter-spacing: 0.0625em;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

nav a:hover {
    background-color: var(--color-blanco);
    color: var(--color-suave);
    transform: translateY(-0.375em);
    box-shadow: 0 0.375em 0.75em var(--color-sombra-intensa);
}

nav a i {
    margin-left: 1em;
    transition: transform 0.3s, margin-left 0.3s;
}

nav a:hover i {
    transform: rotate(15deg);
    margin-left: 1.5em;
}

.title {
    color: var(--color-principal);
    font-size: 5em;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase; /* Opcional, para darle un toque más fuerte */
    letter-spacing: 2px; /* Un poco de espacio entre letras para mayor impacto */
    background: linear-gradient(45deg, var(--color-principal), #ff6f61); /* Un gradiente atractivo */
    -webkit-background-clip: text;
    background-clip: text;
    transition: color 0.5s ease, transform 0.5s ease, text-shadow 0.3s ease;
}

.title:hover {
    transform: scale(1.1) rotate(-2deg); /* Añade rotación ligera para dinamismo */
    color: var(--color-principal); /* Cambia el color al hacer hover */
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8); /* Sombra más marcada al pasar el mouse */
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 3em;
    }
}


main {
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    section {
        padding: 10px;
    }
    .equipo {
        padding: 20px;
    }
}

.equipo {
    background-color: var(--color-principal);
    border-radius: 1em;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.equipo:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.imagen_equipo {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.imagen_equipo:hover {
    transform: scale(1.05);
}

#imagen_equipo {
    transition: opacity 0.5s ease-in-out;
}

h2 {
    font-size: 2rem;
    color: var(--color-oscuro);
    font-weight: 600;
}

p.lead {
    font-size: 1.125rem;
    color: var(--color-gris-suave);
    line-height: 1.6;
}

ul {
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--color-oscuro);
}

ul li {
    margin-bottom: 15px;
    text-align: left;
    margin-left: 3em;
}

ul li strong {
    color: var(--color-principal);
    letter-spacing: 1px;
    font-weight: 600;
}

/* Animaciones */
.equipo:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.tarjeta {
    border: none;
    border-radius: 1.2em;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body-1 {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: .5rem;
    border-radius: 1.2em 1.2em 0 0;
}

.card-body-1 i {
    font-size: 2rem;
    color: var(--color-blanco);
    margin-bottom: .2rem;
}

.card-body-1 h2 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color-blanco);
}

.card-body-2 {
    background-color: var(--color-gris-claro);
    padding: 1.5rem;
    color: #495057;
}

.card-body-2 p {
    font-size: 1rem;
    line-height: 1.6;
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px var(--color-sombra);
}







